@charset 'UTF-8';
* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

.icon-bar {
    background: #1d7591;
}

.navbar-toggle {
    border: 1px solid #338391;
    background-color: #469ab5;
}

.navbar {
    background: #469ab6;
    box-shadow: 0 2px 3px 0 #b7b9be;
}

.navbar-brand {
    margin: 8px 35px 8px 20px !important;
    padding: 0;
}

.navbar-header.navbar-brand img {
    width: auto;
    height: 50px;
}

.navbar-nav li a {
    width: 95px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 17px;
    line-height: 35px;
}

.navbar-nav .active {
    background-color: #1d7591;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    text-decoration: none;
    background-color: #5eb5d1;
}

.navbar-form .input-group {
    float: right;
    margin-top: 7px;
}

.navbar-form .btn {
    height: 34px;
    border-radius: 18px;
    background-color: #fff;
}

.navbar-form .btn .glyphicon-search {
    color: #46a4b5;
    font-weight: bold;
}

.navbar-form .form-control {
    border: 0;
    border-radius: 18px;
}

.softwarepark-breadcrumb {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.softwarepark-breadcrumb .breadcrumb {
    margin: 0;
    padding: 5px 15px;
    list-style: none;
    border-radius: 0;
    background: 0 0;
}

.breadcrumb>li {
    display: inline-block;
}

.softwarepark-breadcrumb .breadcrumb>li.active>span,
.softwarepark-breadcrumb .breadcrumb>li>a,
.softwarepark-breadcrumb .breadcrumb>li>span {
    color: #666;
    font-size: 12px;
}

.softwarepark-breadcrumb .breadcrumb>li+li:before {
    content: '\00bb';
    color: #666;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    content: '/\00a0';
    color: #ccc;
}

.footer {
    bottom: 0;
    margin: 0 auto;
    background-color: #338391;
}

.footer .container {
    padding: 20px 5%;
}

.footer-logo {
    float: left;
    width: 100px;
    margin: 0 15px;
}

.footer-logo img {
    width: 100%;
}

.footer-intro {
    float: left;
    width: calc(100% - 130px);
    padding-top: 5px;
    padding-left: 10px;
    border-left: 2px solid #fff;
}

.footer-intro a {
    padding: 0;
    color: #fff;
}

.footer-intro a:hover {
    text-decoration: none;
    color: #aaa;
}

.footer-intro p {
    color: #fff;
}

.my-icon {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/my-icon.png) no-repeat;
}

.icon-arrow-up {
    width: 26px;
    height: 16px;
    margin: 12px 9px;
    background-position: 0 -20px;
}

.icon-quote-left,
.icon-quote-right {
    width: 20px;
    height: 20px;
    background-position: 0 0;
}

.icon-quote-right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon-mascot {
    width: 44px;
    height: 37px;
    margin: 3.5px 0;
    background-position: 0 -36px;
}

#floating-window {
    position: fixed;
    right: 5%;
    bottom: 80px;
    display: none;
}

.floating-window-fade-out {
    opacity: .5;
}

.floating-window-is-visible {
    display: block !important;
}

#floating-window .btn {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 2px solid #0db2cf;
    background-color: #f2f2f2;
}

#contact-us-modal .modal-header,
#let-me-up-modal .modal-header {
    border-bottom: 0;
}

#contact-us-modal .modal-body,
#let-me-up-modal .modal-body {
    padding: 0 15px;
}

#contact-us-modal .modal-body .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
}

#contact-us-modal .modal-body .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

#contact-us-modal .modal-body .thumbnail p {
    color: #939393;
    font-size: 12px;
}

#contact-us-modal .modal-header .modal-title,
#let-me-up-modal .modal-header .modal-title {
    color: #469ab5;
}

#contact-us-modal .modal-footer {
    padding-top: 0;
    border: 0;
}

#contact-us-modal .modal-footer .btn-i-know {
    color: #fff;
    border-radius: 18px;
    background-color: #5eb5d1;
}

#btn-more {
    margin: 25px 0;
    padding: 6px 22px;
    font-size: 16px;
}