@charset 'UTF-8';
.container {
    max-width: 960px;
}

.panel {
    border: 0;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.panel-info-brief .panel-body {
    margin: 0 25px;
    padding: 25px 0 20px;
    border-bottom: 1px solid #dad9d7;
}

.panel-info-brief .panel-footer {
    margin: 0 25px;
    padding: 10px 0;
    border: 0;
    background-color: #fff;
}

.panel-info-brief .panel-software-icon {
    float: left;
    width: 175px;
    height: 175px;
    margin-right: 25px;
}

.panel-info-brief .panel-software-icon>img {
    width: 100%;
    height: 100%;
}

.panel-info-brief .panel-body>h3 {
    margin: 4px 0 0;
    font-size: 26px;
}

.panel-info-brief .btn {
    margin: 100px 8px 0;
    padding: 10px 18px;
}

.panel-info-brief .panel-software-tag {
    margin: 4px 2px;
    padding: 5px 12px;
    letter-spacing: 1px;
    color: #156077;
    border: 1px solid #156077;
    border-radius: 5px;
    background-color: transparent;
    font-size: 14px;
}

.panel-footer .panel-software-tag:hover {
    text-decoration: none;
    color: #469ab5;
    border: 1px solid #469ab5;
}

.panel-subtitle {
    display: block;
}

.panel-info-brief .panel-subtitle {
    float: left !important;
    margin: 4px 0;
}

.panel-subtitle>h4 {
    margin: 0 20px 0 10px;
    line-height: 25.6px;
}

.vertical-separator {
    float: left;
    width: 2px;
    height: 24px;
    border: 2px solid #5eb5d1;
    border-radius: 2px;
}

.panel-heading {
    border: 0;
    background-color: #fff !important;
}

.panel-info-detail .panel-body {
    padding: 5px 15px 14px 40px;
}

.panel-software-screenshots .panel-body,
.panel-software-content .panel-body {
    padding-top: 0;
}

.panel-software-content .panel-body {
    padding-right: 40px;
    padding-left: 40px;
}

.carousel-inner .item>img {
    max-width: 640px;
    margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control .glyphicon {
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    color: #3d6884;
    font-size: 50px;
}