.pagination > li > a {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    color: #888;
    border-radius: 12px !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    line-height: 23px;
}

.pagination > li > .active {
    z-index: 3;
    cursor: default;
    color: #fff;
    border-color: #337ab7;
    background-color: #337ab7;
}
