body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.selected {
    background: #0073aa;
}
